*{
    font-family: sans-serif;
}

.container {
    max-width: 800px;
    background-color: rgb(145, 144, 143);
    margin:auto;
    padding: 20px;
    border-radius: 5%;
}
h1 {
    text-align: center;
    margin-top: 50px;
}

img {
    display: block;
    max-width: 300px;
    margin: auto;
    border-radius: 50%;
}
.Belakang {
    background-color: rgb(28, 27, 27);
    border-radius: 5%;
}